<br>
<br>
<div class="row">
  <div class="col s6">
    <h5 class="section-header">Sign Up</h5>
    <%= form_for :user, url: '/users' do |f| %>
      Full Name: <%= f.text_field :name, class: 'field' %>
      <br>
      Email: <%= f.text_field :email, class: 'field' %>
      <br>
      Phone Number: <%= f.text_field :phone_number, class: 'field' %>
      <br>
      Panic Word: <%= f.text_field :panic_word, class: 'field' %>
      <br>
      Clear Word: <%= f.text_field :clear_word, class: 'field' %>
      <br>
      Password: <%= f.password_field :password, class: 'field' %>
      <br><br>
      <%= f.submit "Sign Up", class: 'red btn darken-4'%>
      <% if @message %>
        <p><%= @message %></p>
        <% if @user.errors %>
          <p><%= error_message_helper(@user.errors) %> </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
    <div class="col s6">
      <h5 class="section-header">Signing Up Is Easy</h5>
      <ol>
        <li>Enter your full name and a valid email address.</li><br>
        <li>Please enter your full mobile phone number, including your area code, without dashes or other punctuation (ex: 5555555555).</li><br>
        <li>After signing up, add up to five contacts from your profile page.</li><br>
        <li>Your panic word should be something you would be able to remember in a crisis, but is not something that you would commonly use. Please not that if you text this word to us at any time, we will alert your contacts.</li><br>
      </ol>
    </div>
</div>



