<h4>Sign Up</h4>
<div class="row">
  <div class="col s6">
    <%= form_for :user, url: '/users' do |f| %>
      Full Name: <%= f.text_field :name, class: 'field' %>
      <br>
      Email: <%= f.text_field :email, class: 'field' %>
      <br>
      Phone Number: <%= f.text_field :phone_number, class: 'field' %>
      <br>
      Panic Word: <%= f.text_field :panic_word, class: 'field' %>
      <br>
      Password: <%= f.password_field :password, class: 'field' %>
      <br><br>
      <%= f.submit "Sign Up", class: 'indigo btn'%>
      <% if @message %>
        <p><%= @message %></p>
        <% if @user.errors %>
          <p><%= error_message_helper(@user.errors) %> </p>
        <% end %>
      <% end %>
  </div>
  <div class="col s6">
  </div>

</div>


  <% end %>
