<h4><%= @user.name %></p>


    <h5>Your Contacts:</h5>
    <%if !@contacts %>
      <a class="red darken-2 btn modal-trigger" href="#modal1"><i class="large material-icons">warning</i> Please Enter Contacts</a>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
          </tr>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <th><%= contact.name %></th>
              <th><%= contact.phone_number %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end %>

    <div class="row">
      <div class="col s6">

     <%= form_for :contact, url: '/contacts' do |f| %>
      Full Name: <%= f.text_field :name, class: 'field' %>
      <br>
      Phone Number: <%= f.text_field :phone_number, class: 'field' %>
      <br><br>
      <%= f.submit "Submit Contact", class: 'indigo btn'%>
      <% end %>
</div>
</div>



<br>
<%= link_to 'Edit', edit_user_path(@user) %> |

