<h4>Welcome, <%= @user.name %></p>

  <a href="/interface/test_user_number/<%=current_user.id%>">Test Your Number</a>



    <%if @contacts.count == 0 %>
      <!-- <a class="red darken-2 btn modal-trigger" href="#modal1"><i class="large material-icons">warning</i> Please Enter Contacts</a> -->
    <% else %>
      <h5>Your Contacts:</h5>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
          </tr>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <th><%= contact.name %></th>
              <th><%= contact.phone_number %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end %>

    <div class="row">
      <div class="col s6">
        <div class="container">
      <h5>Add A Contact</h5>
      <%= form_for :contact, url: '/contacts', class: 'add-contact-form' do |f| %>
        Full Name: <%= f.text_field :name, class: 'field' %>
        <br>
        Phone Number: <%= f.text_field :phone_number, class: 'field' %>
        <br><br>
        <%= f.submit "Submit Contact", class: 'indigo btn add-contact-btn'%>
        <% if @message %>
          <p><%= @message %></p>
        <% end %>
      <% end %>
    </div>
</div>
</div>



<br>
<%= link_to 'Edit', edit_user_path(@user) %> |

