<h5><%= @user.name %> - User Profile</h5>

  <div class="row">
    <div class="col s7">
      <table class="striped">
        <tbody>
          <tr>
            <td><strong>Email:</strong></td>
            <td><%= @user.email %></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Phone:</strong></td>
            <td><%= @user.phone_number %></td>
            <td><a href="/interface/test_user_number/<%=current_user.id%>">Send Test Message</a></td>
          </tr>
          <tr>
            <td><strong>Panic Word:</strong></td>
            <td><%= @user.panic_word %></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Clear Word:</strong></td>
            <td><%= @user.clear_word %></td>
            <td></td>
          </tr>

        </tbody>

      </table>

    </div>

    <div class="col s5">
    <%= link_to 'Edit Profile', edit_user_path(@user), class: "red btn darken-4" %>
    </div>

  </div>






  <div class="row">
    <%if @contacts.count != 0 %>
      <div class="col s7">
      <h5>Your Contacts:</h5>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.phone_number %></td>
              <td><a href="/interface/test_contact_number/<%=contact.id%>">Send Test Message</a></td>
              <td><a href="/contacts/destroy/<%=contact.id%>">Delete Contact</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @user.contacts.count < 5 %>
      <div class="col s5">
    <% end %>
  <% else %>
    <div class="col s7">
  <% end %>
    <% if @user.contacts.count < 5 %>
    <h5>Add A Contact:</h5>
      <%= form_for :contact, url: '/contacts', class: 'add-contact-form' do |f| %>
        Full Name: <%= f.text_field :name, class: 'field' %>
        <br>
        Phone Number: <%= f.text_field :phone_number, class: 'field' %>
        <br><br>
        <%= f.submit "Submit Contact", class: 'red btn darken-4'%>
        <% if @message %>
          <p><%= @message %></p>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>



<br>
<%= link_to 'Edit', edit_user_path(@user) %> |

