<!DOCTYPE html>
<html>
<head>
  <title>Agentalert</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
 <!--  <%= favicon_link_tag '/app/assets/images/phone.ico' %> -->
</head>
<body>
<div id="page-wrapper">
<nav>
    <div class="light-blue nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons left">phone</i>Agent Alert</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <% if logged_in? %>
          <li><a href="/users/<%=current_user.id%>"><%=current_user.name%></a></li>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

<div class="container">

<%= yield %>

</div>

<footer class="light-blue page-footer">
          <div class="container">
            <div class="row">
             <!--  <div class="col l6 s12"> -->
              <div class="col s8">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-5">Agent Alert was created by <a class="grey-text text-lighten-5"  href="http://www.shawnwilkinson.io/">Shawn Wilkinson</a>, a Chicago-based web developer. It was built using Rails, Twillio, Materialize CSS and is deployed on Heroku.</p>
              </div>
            </div>
          </div>
        </footer>
  </div>
</body>
</html>
