<!DOCTYPE html>
<html>
<head>
  <title>Agentalert</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
    <div class="indigo darken-4 nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons left">phone</i>Agent Alert</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? %>
          <li><a href="/users/<%=current_user.id%>"><%=current_user.name%></a></li>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

<div class="container">

<%= yield %>

</div>

<footer class="indigo darken-4 page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">Agent Alert is built using Rails, Twillio, Materialize CSS and is deployed on Heroku.</p>
              </div>
            </div>
          </div>
          <div class="indigo accent-1 footer-copyright">
            <div class="container">
            © 2015 Shawn Wilkinson
            <a class="grey-text text-lighten-4 right" href="http://www.shawnwilkinson.io/">Created by Shawn Wilkinson</a>
            </div>
          </div>
        </footer>
</body>
</html>
